Sudo On Deck API.


<p>Use:<p>

<code>
  curl -L http://cronopio.herokuapp.com/evaluation/evaluation/annual_revenue/200000

  {"approved":true,"max":5000,"min":500,"evaluation_date":"2015-12-05T14:03:00.162-05:00"}
</code>

<p>Credit score optional</p>

<code>
  curl -L http://cronopio.herokuapp.com/evaluation/evaluation/annual_revenue/200000/credit_score/500

  {"approved":false,"max":0,"min":500,"evaluation_date":"2015-12-05T14:08:25.012-05:00"}
</code>
